<?xml version="1.0"?>
<Configuration>

	<!-- AssemblyLoading defines which assemblies are autoloaded with botNET -->
	<AssemblyLoading>
	</AssemblyLoading>
	
	<AssemblyLoadingIgnore>
		<Load>mmon2</Load>
		<Load>testbot</Load>
	</AssemblyLoadingIgnore>
	
	<Debugging>
		<LogFile>botNETLog</LogFile>
		<PrintExceptions>True</PrintExceptions>
	</Debugging>
	
	<Remoting>
		<Enabled>False</Enabled>
		<BaseRemotingPort>43250</BaseRemotingPort>
	</Remoting>
	
	<!--DO NOT TOUCH THESE-->
	<Directories>
		<!-- These directories fall under the root botNET directory which is determined at runtime -->
		<Assemblies>Assemblies</Assemblies>
		<Output>Output</Output>
		<Settings>Settings</Settings>
		<Documents>Documents</Documents>
		<Source>Source</Source>
		<Images>Images</Images>
		
		<!-- These directories fall under the Assemblies directory defined above -->
		<Bots>Bots</Bots>
		<Libraries>Libraries</Libraries>
		<Demos>Demos</Demos>
		<Utilities>Utilities</Utilities>
		<Applications>Applications</Applications>
	</Directories>
	
</Configuration>


